@font-face {
    font-family: 'Technology Bold';
    src: url("./fonts/Technology-Bold.ttf");
}

body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    background-color: #1B244A;
    color:#EEEEEE;
}
.reset {
    display: flex;
    margin-top: 120px;
    justify-content: center;
}
h3 {
    font-size: 68px;
}
h1{
    font-size: 120px;
    color: #F94F6D;
    text-align: center;
    font-family: 'Technology Bold';
    padding: 20px;
}
.board {
    background-color: #080001;
    border-radius: 20px;
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:12px
}

button {
    border: 1px solid #9AABD8;
    background-color: transparent;
    padding: 20px;
    border-radius: 6px;
    color: #9AABD8;
    font-size: 28px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  h3 {
    text-align: center;
    font-size: 22px; /* Adjust font sizes */
  }
  h1 {
    text-align: center;
    font-size: 60px;
  }
  .buttons {
    flex-direction: row; /* Stack buttons vertically */
  }
  button {
    padding: 15px; /* Increase button size */
  }
  .reset {
    margin-top: 15px;
  }
}